header {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 29);
    height: 300px;
    row-gap: 25px;
}
header > h1 {
    text-align: center;
    color: rgb(233, 233, 233);
    padding-top: 15px;
    font-size: 2.4em;
    font-weight: bold;
}
/* Barra de navegação inicial */
#procurar-itens {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    height: 70px;
    border: 2px solid rgb(136, 126, 60);
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    width: 370px;
}
#procurar {
    width: 200px;
    border-radius: 0px;
    border: none;
    background-color: rgb(29, 29, 29);
    font-size: 1em;
}
#procurar::placeholder {
    color: rgba(255, 255, 255, 0.712);
}
#procurar:focus-within {
    box-shadow: none;
    border: none;
    color: white;
}
#btn {
    border: none;
    height: 50px;
    background-color: rgba(240, 248, 255, 0);
    width: 100px;
    color: white;
    font-size: 1.2em;
    border: 1px solid rgb(136, 126, 60);
    height: 40px;
    margin-top: 3px;
}
#btn:hover {
    background-color: rgba(0, 0, 0, 0.514);
}
#lupa {
    color:rgb(136, 126, 60);
    margin: auto;
    margin-left: 10px;
}




/* ICONES */
#icones {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 15px;
    margin-top: 15px;
    width: 370px;
    margin: auto;

}
#icone-1 {
    display: block;
    width: 35px;
}
#user, #msg, #mala {
    margin: auto;
    font-size: 2em;
    color: white;
}
#msg {
    font-size: 2em;
}
#mala {
    font-size: 2em;
    margin-bottom: 5px;
}


/* Segundo icone */


#icone-2 {
    position: relative;
}
#icone-2 > #n1 {
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: -128%;
    left: 42%;
}
#icone-2 > #n1 > p {
    color: white;
    font-size: 20px;
    text-align: center;
}

/* Terceiro icone */ 

#icone-3 {
    position: relative;
    margin-right: 10px;
    display: flex;
    column-gap: 10px;
}
#icone-3 > #n2 > p {
    color: white;
    font-size: 20px;
    text-align: center;
}
#icone-3 > #n2 {
    background-color: red;
    width: 32px;
    height: 31px;
    position: absolute;
    top: -32%;
    left: 10%;
    border-radius: 50%;
}
#n3 {
    color: white;
    font-size: 1.6em;
    line-height: 57px;
    font-weight: bolder;
    margin-right: 5px;
}